openai==2.8.1
pydantic==2.12.5
pyyaml==6.0.2
langchain-openai==1.1.6
langchain-community==0.4.1
langchain-core==1.2.5
langgraph==1.0.5
azure-identity==1.26.0b1
azure-search-documents==11.6.0
fastapi==0.128.0
uvicorn[standard]==0.40.0